.profile-container {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
}

.profile-page H2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.profile-left {
  margin-right: 20px;
}

.profile-right {
  width: 100%;
}

img.user-avatar {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 3px;
}

.profile-part {
  padding: 16px 24px;
  margin-bottom: 25px;
}

.profile-part p {
  margin: 15px 0;
}

.field-name {
  font-weight: bold;
  margin-right: 10px;
}

.profile-part-title {
  margin-bottom: 20px!important;
}

.profile-control-buttons {
  display: flex;
  justify-content: center;
}

.profile-control-buttons button {
  margin-right: 20px;
}

.profile-control-buttons button:last-child {
  margin-right: 0;
}